{% extends 'base.html' %}

{% block css %}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Myeongjo:wght@700&family=Noto+Serif+KR:wght@600&display=swap');

h3 {
  font-family: 'Nanum Myeongjo', serif;
  }

div {
  font-family: 'Noto Serif KR', serif;
}

  </style>

{% endblock %}



{% block body%}



  <h3 class="text-center mt-5">신규 방문자 등록</h3>
  <div class="container">
  

    
    <form method="POST" class="border border-light p-5" style="width: 21rem; height: 11rem; margin:0 auto;">
      {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
        <label class="control-label"  for="id_{{ field.name }}">{{ field.label }}</label>

            {{ field }}
        </div>
        {% endfor %}
        <input class="btn btn-block btn-dark mt-4"  type="submit" value="완료"></div>

    </form>


{% endblock%}


