{% extends 'base.html' %}

{% load static %}

{% block css %}

<style>
h1 {
  font-family: 'Nanum Gothic', sans-serif;
}

.site-qr {
  display: block;
}

/* img {
  position: absolute;
  top: 0;
  bottom: 40;
  left: 100;
  right: 0;
  margin: auto;
} */


/* h4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left:  50;
  right: 10;
  margin: auto;
} */
/* 
h4 {
  letter-spacing: -10px;
} */

</style>
<script type="text/javascript" src="{% static 'instascan.min.js' %} "></script>
  
{% endblock %}

{% block body %}

<div class="container">
  <h1 class="mb-5 text-center">QR코드 인식</h1>
  <div class="row">
    <video class="" id="preview"></video>
    <div>
      <div class="ml-5 text-center">
        <img class="site-qr" src="{% static 'qr/site.png' %}"><br>
        QR코드가 없으신 분은 여기로 접속하여<br>
        QR코드를 생성해 주시기 바랍니다.
      </div>
    </div>
  </div>
  
  <h4 class=""></h4>
</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", event => {
  let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
    Instascan.Camera.getCameras()
      .then(cameras => {
        console.log(cameras)
        scanner.camera = cameras[0];
        scanner.start();
      })
      .catch(e => console.error(e));

  
  scanner.addListener('scan', content => {
    console.log(content)
    // const pkNumber = content.slice(21, 23)
    const pkNumber = content.split(':')[1]
    // console.log(content.length)
    const requestForm = new FormData()
    requestForm.append('content', content)

    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = 'X-CSRFToken'

    axios.post('/visitors/create_qr/', requestForm)
      .then(res => {
        console.log(res)
        window.location.replace(`/visitors/result/${pkNumber}/`);
      })
      .catch(err => {
        console.error(err)
      })
  });
});
</script>

{% endblock %}
