{% extends 'base.html' %}

{% load static %}

{% block css %}
  <script type="text/javascript" src="{% static 'instascan.min.js' %} "></script>
  
{% endblock %}

{% block body %}
<h1>QR코드 체크</h1>

<video id="preview"></video>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", event => {
  let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
    Instascan.Camera.getCameras()
      .then(cameras => {
        console.log(cameras)
      scanner.camera = cameras[0];
      scanner.start();
    })
      .catch(e => console.error(e));

  
  scanner.addListener('scan', content => {
    console.log(content)
    const pkNumber = content.slice(19, 22)
    // console.log(content.length)
    const requestForm = new FormData()
    requestForm.append('content', content)

    axios.defaults.xsrfCookieName = 'csrftoken'
    axios.defaults.xsrfHeaderName = 'X-CSRFToken'

    axios.post('https://a0c208cd3ea0.ngrok.io/visitors/create_qr/', requestForm)
      .then(res => {
        console.log(res)
        window.location.replace(`http://127.0.0.1:8000/visitors/result/${pkNumber}/`);
      })
      .catch(err => {
        console.error(err)
      })
  });
});
  
</script>
{% endblock %}
